<div id="<%= dom_id building %>">
  <p>
    <strong>Address:</strong>
    <%= building.address %>
  </p>

  <p>
    <strong>State code:</strong>
    <%= building.state_code %>
  </p>

  <p>
    <strong>Zipcode:</strong>
    <%= building.zipcode %>
  </p>

</div>
